.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7rem;
	box-shadow: 0 0.5rem 1rem #1b212e;
	background-color: $background-color;
	position: fixed;
	z-index: 10;
	@include addPadding;

	a,
	a:visited {
		text-decoration: none;
		color: $text-color;
		transition: all 0.25s ease-in-out;
	}

	&__logo {
		cursor: pointer;
		display: flex;
		align-items: center;
		font-size: 2.2rem;

		img {
			width: 4.6rem;
			margin-right: 1rem;
		}
	}

	&__links {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;

		@media screen and (max-width: 800px) {
			display: none;
		}
	}

	&__link {
		font-size: 1.8rem;

		&:not(:last-child) {
			margin-right: 5rem;
		}

		&:nth-child(1) a:hover {
			color: #f53354;
		}

		&:nth-child(2) a:hover {
			color: $color-blue;
		}

		&:nth-child(3) a:hover {
			color: $color-yellow;
		}

		&:nth-child(4) a:hover {
			color: $color-primary;
		}
	}
}

.mobile-nav {
	display: none;

	@media screen and (max-width: 800px) {
		display: block;
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked ~ &__background {
		transform: translate(-50%) scale(80);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	&__checkbox:checked + &__button &__icon {
		height: 3px;
	}

	&__checkbox:checked + &__button &__icon::before {
		height: 3px;
		transform: rotateZ(-45deg) translateY(0.6rem) translateX(-5px);
		width: 1.4rem;
	}

	&__checkbox:checked + &__button &__icon::after {
		height: 3px;
		transform: rotateZ(45deg) translateY(-0.6rem) translateX(-5px);
		width: 1.4rem;
	}

	&__button {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
		width: 4rem;
		height: 4rem;
		z-index: 100;
		cursor: pointer;
	}

	&__background {
		position: absolute;
		top: 50%;
		background-color: rgba($background-color, 0.95);
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		transform: translateY(-50%) scale(1);
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 40;
		padding: 5rem;
		opacity: 0;
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.26, 1.5);
	}

	&__links {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		font-size: 3rem;
		text-align: center;

		@media screen and (max-width: 500px) {
			font-size: 2.5rem;
		}
	}

	&__link {
		padding: 5rem 0;
		cursor: pointer;
		transition: all 0.2s ease;

		@media screen and (max-width: 500px) {
			padding: 3.5rem;
		}
	}

	&__link:nth-child(1) a:hover {
		color: #f53354;
	}

	&__link:nth-child(2) a:hover {
		color: $color-blue;
	}

	&__link:nth-child(3) a:hover {
		color: $color-yellow;
	}

	&__link:nth-child(4) a:hover {
		color: $color-primary;
	}

	&__icon,
	&__icon::before,
	&__icon::after {
		height: 2px;
		background-color: $color-primary;
		display: inline-block;
		border-radius: 5rem;
	}

	&__icon::before,
	&__icon::after {
		content: '';
		position: absolute;
		left: 0;
		transition: all 0.2s;
	}

	&__icon {
		position: relative;
		width: 2.5rem;
	}

	&__icon::before {
		transform-origin: left;
		top: -0.8rem;
		width: 3rem;
	}

	&__icon::after {
		transform-origin: left;
		top: 0.8rem;
		width: 2rem;
	}
}
