.btn {
	display: inline-block;
	padding: 1.6rem 4rem;
	margin-bottom: 1.6rem;
	font-size: 2.4rem;
	text-decoration: none;
	color: $text-color;
	border-radius: 3px;
	border: 1px solid $color-primary;
	outline: none;
	box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.3);
	transition: all 0.3s ease-in-out;
	background-color: $background-color;

	&:hover,
	&:focus {
		box-shadow: 0 0.7rem 1.4rem rgba($color-primary, 0.3);
		transform: scale(1.02);
	}

	&--primary {
		background-color: $color-primary;
	}

	@media screen and (max-width: 950px) {
		font-size: 2rem;
		padding: 1.4rem 3.4rem;
	}

	@media screen and (max-width: 600px) {
		font-size: 1.6rem;
		padding: 1.4rem 3.4rem;
	}
}
