.card {
	display: inline-block;
	text-decoration: none;
	color: $text-color;
	background-color: $on-background-color;
	padding: 3rem;
	border: 1px solid $on-background-color;
	outline: none;
	border-radius: 3px;
	box-shadow: 0 0.5rem 1rem rgba(35, 42, 58, 0.3);
	transition: all 0.25s ease-out;

	&:hover,
	&:focus {
		border: 1px solid $color-blue;
	}

	&__heading {
		display: inline-block;
		position: relative;
		font-size: 2.4rem;
		font-weight: normal;
		margin-bottom: 2rem;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			height: 2px;
			width: 100%;
			background-color: $color-blue;
			border-radius: 3px;
		}
	}

	&__description {
		font-size: 2rem;
		min-height: 8rem;
	}

	&__tech {
		font-size: 1.6rem;
	}

	&__skill:not(:last-child)::after {
		content: ', ';
	}
}
