.navbar {
	padding: 4rem 0;

	&__content {
		display: flex;
		align-items: center;

		@media screen and (max-width: 650px) {
			flex-direction: column;
		}
	}

	&__links {
		display: flex;
		margin-left: auto;

		@media screen and (max-width: 650px) {
			margin-top: 2rem;
			margin-left: 0;
			justify-content: space-between;
			width: 100%;
		}

		@media screen and (max-width: 550px) {
			font-size: 1.4rem;
		}

		li {
			list-style-type: none;

			&:not(:last-child) {
				margin-right: 5rem;

				@media screen and (max-width: 650px) {
					margin-right: 0;
				}
			}

			a {
				text-decoration: none;
				color: var(--text-color);
			}
		}
	}
}
