.projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10rem 14rem;
	gap: 10rem 14rem;
	margin-bottom: 10rem;

	@media screen and (max-width: 1300px) {
		grid-gap: 10rem;
		gap: 10rem;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}
}
