*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	min-height: 100%;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 1.6rem;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
