.heading {
	&--primary {
		display: inline-block;
		position: relative;
		font-size: 4rem;
		font-weight: normal;
		margin-bottom: 5rem;

		&::before {
			content: '';
			position: absolute;
			width: 50%;
			height: 2px;
			top: 0;
			left: 0;
		}

		&::after {
			content: '';
			position: absolute;
			width: 50%;
			height: 2px;
			bottom: 0;
			left: 50%;
		}

		@media screen and (max-width: 700px) {
			font-size: 3.6rem;
		}

		@media screen and (max-width: 500px) {
			font-size: 3.2rem;
		}
	}

	&--blue::before,
	&--blue::after {
		background-color: $color-blue;
	}

	&--yellow::before,
	&--yellow::after {
		background-color: $color-yellow;
	}

	&--pink::before,
	&--pink::after {
		background-color: $color-primary;
	}
}

.title {
	font-size: 5rem;
	margin-bottom: 4.5rem;

	@media screen and (max-width: 950px) {
		font-size: 4.4rem;
	}

	@media screen and (max-width: 600px) {
		font-size: 3.8rem;
	}
}

.subtitle {
	font-size: 3rem;
	font-weight: normal;
	margin-bottom: 8rem;

	@media screen and (max-width: 950px) {
		font-size: 2.6rem;
	}

	@media screen and (max-width: 600px) {
		font-size: 2.2rem;
	}
}
