.type {
	&__heading {
		font-size: 2.4rem;
		font-weight: 600;
		text-transform: uppercase;
		margin: 5rem 0;

		@media screen and (max-width: 950px) {
			font-size: 2.2rem;
		}

		@media screen and (max-width: 550px) {
			font-size: 2rem;
		}
	}

	&__sub-heading {
		font-size: 1.6rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}

	&__title {
		font-size: 1.8rem;
		font-weight: 600;
		margin-top: 2rem;

		@media screen and (max-width: 550px) {
			font-size: 1.6rem;
		}
	}

	&__sub-title {
		margin-top: 0.5rem;

		@media screen and (max-width: 550px) {
			font-size: 1.4rem;
		}
	}

	&__info {
		display: block;
		font-size: 1.2rem;
		opacity: 0.7;
		margin-top: 1.5rem;
	}
}
