.heading {
	display: flex;
	justify-content: center;

	&--primary {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		font-size: 3rem;
		font-weight: 300;
		padding: 0 1rem;
		margin-bottom: 7rem;

		@media screen and (max-width: 600px) {
			font-size: 2.5rem;
		}
	}

	&--primary::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: $color-black;
		bottom: -3px;
		left: 0;
		border-radius: 10px;
	}

	&--secondary {
		font-size: 2.5rem;
		margin-bottom: 3rem;

		@media screen and (max-width: 600px) {
			font-size: 2rem;
		}
	}

	&--tertiary {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	&--blue::after {
		background-color: $color-blue;
	}

	&--purple::after {
		background-color: $color-purple;
	}

	&--yellow::after {
		background-color: $color-yellow;
	}
}
