.projects {
	@include setPage;

	&__projects-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		grid-column-gap: 4rem;
		padding-right: 5rem;

		@media screen and (max-width: 1350px) {
			grid-column-gap: 8rem;
			grid-template-columns: repeat(2, minmax(30rem, 35rem));
		}

		@media screen and (max-width: 1100px) {
			grid-column-gap: 4rem;
		}

		@media screen and (max-width: 900px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}

		@media screen and (max-width: 800px) {
			margin-bottom: 8rem;
			padding-right: 0;
		}
	}

	&__github,
	&__github:visited {
		display: block;
		color: $color-purple;
		font-size: 1.6rem;
		text-align: center;
		margin-top: 1.5rem;
	}
}
