.contact {
	@include setPage;
	min-height: calc(100vh - 12rem);

	&__card {
		background-color: $on-background-color;
		border: 2px solid $color-primary;
		padding: 3.5rem 1.4rem;
		text-align: center;
		border-radius: 5px;
	}

	&__heading {
		font-size: 3.4rem;
		margin-bottom: 2.4rem;

		@media screen and (max-width: 900px) {
			font-size: 2.8rem;
		}

		@media screen and (max-width: 700px) {
			font-size: 2.4rem;
		}
	}

	&__sub-heading {
		font-size: 2.2rem;

		@media screen and (max-width: 900px) {
			font-size: 1.8rem;
		}

		@media screen and (max-width: 700px) {
			font-size: 1.6rem;
		}
	}

	&__email {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;
		font-size: 3.2rem;

		p {
			margin-left: 1rem;
		}

		img {
			height: 2rem;
		}

		@media screen and (max-width: 900px) {
			font-size: 2.6rem;
		}

		@media screen and (max-width: 700px) {
			font-size: 2.2rem;
		}

		@media screen and (max-width: 450px) {
			font-size: 1.8rem;

			img {
				height: 1.6rem;
			}
		}
	}

	&__social-links {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		margin-top: 10rem;

		img {
			height: 4rem;
			transition: all 0.25s ease-in-out;

			@media screen and (max-width: 900px) {
				height: 3.2rem;
			}

			@media screen and (max-width: 700px) {
				height: 2.8rem;
			}

			@media screen and (max-width: 450px) {
				height: 2.4rem;
			}
		}

		img:hover,
		img:focus {
			transform: scale(1.2);
		}
	}
}
